/* filter mobile responsive */
.rdrDateRangePickerWrapper {
    flex-wrap: wrap;
}
.rdrMonths {
    flex-wrap: wrap;
}

/* menu active */
.nav-link.active i{
    color: #FFF!important;
}
.nav-link.active{
    color: #FFF!important;
    font-weight: bold;
}